# Recommended for shared API on 1 VPS:
# NEXT_PUBLIC_API_BASE_URL=https://api.propertylounge-cms.com
# Or set NEXT_PUBLIC_APP_ROOT_DOMAIN=propertylounge-cms.com
# and frontend will auto-resolve https://api.<root-domain>
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_PROTOCOL=https
NEXT_PUBLIC_APP_ROOT_DOMAIN=propertylounge-cms.com
NEXT_PUBLIC_ADMIN_WHATSAPP_TOKEN=
