@import '../src/index.css';
@import '../src/components/Header.css';
@import '../src/components/BottomNav.css';
@import '../src/screens/LoginPage.css';
@import '../src/screens/DashboardPage.css';
@import '../src/screens/LeadsPage.css';
@import '../src/screens/LeadDetailPage.css';
@import '../src/screens/TeamPage.css';
@import '../src/screens/ProfilePage.css';
@import '../src/screens/EditProfilePage.css';
@import '../src/screens/SettingsPage.css';
@import '../src/screens/BroadcastPage.css';
