@import '../src/index.css';
@import '../src/components/Header.css';
@import '../src/components/BottomNav.css';
@import '../src/pages/LoginPage.css';
@import '../src/pages/DashboardPage.css';
@import '../src/pages/LeadsPage.css';
@import '../src/pages/LeadDetailPage.css';
@import '../src/pages/TeamPage.css';
@import '../src/pages/ProfilePage.css';
@import '../src/pages/SettingsPage.css';
